@import '../../../mainStyle.scss';

.sidebar{
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #f4f9fe;

  .sidebar_title{
    position: relative;
    height: 30px;
    padding: 5px;
    background-color: $sidebarTitleColor;

    &:hover{
      background-color: #ffec40;
    }

    h3{
      position: absolute;
      padding-left: 15%;
      left: 10px;
      width: 70%;
      margin: 0;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      
      
      &::before{
        content: url(../../../assets/icons/triangle.svg);
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 5px;
        transform: rotate(90deg);
        transition: all 0.5s;
      }

      
    }
    .open{

      &::before{
        content: url(../../../assets/icons/triangle.svg);
        transform: rotate(0deg);
        margin-right: 5px;
      }
    }
  }

  .list{
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
    overflow: hidden;

    li{
      .sideBar_item{
        box-sizing: content-box;
        padding: 0.5em 0.7em;
        height: 50px;
        cursor: pointer;
      }

      &:hover{
        background-color: #eaf5fc;
      }
      &.check{
        background-color: #dbecf7bb;
      }
  

    }

    
  }

  .fold{
    height: 0px;
  }
  .loading{
    display: block;
    width: 100%;
    height: 430px;
    line-height: 430px;

    .el-loading-spinner{
        top: 0;
        margin-top: $loadingMarginTop;
    }
  }
  
    
}
