@import '../../../mainStyle.scss';
.lyrics_page{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 0;
    transition: all 0.5s;
    transform-origin: bottom;
    overflow: hidden;

    .cover_container{
        display: flex;
        align-items: center;
        width: 40%;
        height: 100%;

        .lyrics_cover_img{
            width: 80%;
            height: 50%;
            margin: 0 auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

    }

    .lyrics_container{
        position: relative;
        width: 60%;
        height: 81.5vh;
        padding: 0 20px;
        // TODO：改成overflow-y：scroll，再加上滚动监听，可以实现用户滚动查看歌词
        overflow-y: hidden;

        .loading_state{
            height: 100%;
        }

        .lyrics{
            overflow: auto;
            transform: translateY(350px);
            transition-duration: 0.5s;
            .lyric{
                display: block;
                height: 80px;
                width: 100%;
                font-size: 1.2em;
                color: rgb(215, 215, 215);
                align-content: center;
            }
    
            .current_line {
                color: $brandColor;
                font-size: 1.7em;
                font-weight: 700;
                height: 140px;
                align-content: center;
            }

            // 修改滚动条样式
            &::-webkit-scrollbar {
                width: 3px;
                height: 1px;
            }
            // 滑块部分
            &::-webkit-scrollbar-thumb {
                background-color: #bbbbbb;
            }
            // 轨道部分
            &::-webkit-scrollbar-track {
                background-color: #ffffff;
            }

        }
       
    }
    @media screen and (max-width: 600px){
        .cover_container{
            width: 50%;
        }
        .lyrics_container{
            width: 50%;
            .lyrics{
                overflow: auto;
                transform: translateY(350px);
                transition-duration: 0.5s;
                .lyric{
                    display: block;
                    height: 80px;
                    width: 100%;
                    font-size: 1em;
                    color: rgb(215, 215, 215);
                    align-content: center;
                }
        
                .current_line {
                    color: $brandColor;
                    font-size: 1.3em;
                    font-weight: 700;
                    height: 140px;
                    align-content: center;
                }
            }
        }
    }
    
}
.show_lyrics{
    height: 83vh;
}