@import '../../../../mainStyle.scss';

.captcha_login_form{
    max-width: 300px;
    margin: 8vh auto 10vh;

    .phone_input{
        width: 300px;
    }

    .captcha_input{
        width: 168px;
    }
    div.keep_inline{
        margin-right: 0;
        
        .get_captcha_button{
            width: 100px;
            color: white;
            background-color: $brandColor;
    
            &:hover{
                background-color: $darkerBrandColor;
            }
    
            &:focus{
                outline: none;
            }
        }
    }


    .submit_button{
        width: 300px;
        max-width: 300px;
        color: white;
        background-color: $brandColor;

        &:hover{
            background-color: $darkerBrandColor;
        }

        &:focus{
            outline: none;
        }
    }
}