@import '../../../../mainStyle.scss';

.password_login_form{
    max-width: 300px;
    margin: 8vh auto 10vh;


    .submit_button{
        width: 300px;
        max-width: 300px;
        color: white;
        background-color: $brandColor;

        &:hover{
            background-color: $darkerBrandColor;
        }

        &:focus{
            outline: none;
        }
    }
}