@import '../../../../mainStyle.scss';

.mainBanner{
    position: relative;
    right: 12.5vw;
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100vw;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.051);

    .swiper {
        height: 100%;
        position: relative;
      
      .swiper-wrapper{

        .swiper-slide {
          display: flex;
          justify-content: center;
          text-align: center;
          /* Center slide text vertically */
          align-items: center;
          

          .background{
            width: 75.2%;
            height: 100%;
            display: flex;
            justify-content: center;
            /* Center slide text vertically */
            align-items: center;
            overflow: hidden;
            background-size: 200%;
            background-position: center center;

            &::after{
              content: '';
              width: 75.2%;
              height: 100%;
              position: absolute;
              overflow: hidden;
              -webkit-backdrop-filter: blur(70px);
              backdrop-filter: blur(70px);
            }
          }
  
          
  
          img{
            display: block;
            width: 70%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
          }
        }
        
      }

      .swiper-button-prev, .swiper-button-next{
        color: $brandColor;
        margin: 0 100px;
        top: 45%;
      }
  
      .swiper-pagination-bullet{
        background-color: white;
      }
  
      
    }
}