@import '../../../../mainStyle.scss';

.mainBanner{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 370px;
    width: 100%;
    background-color: #fdd7d7;

    .swiper-button-prev, .swiper-button-next{
      color: #7a9953;
    }
    .swiper-scrollbar{

      background: #d4dfc6;


      .swiper-scrollbar-drag {
        background: #7a9953;
      }
    }

    .swiper {
        width: 90%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 70%;
        height: 95%;
        object-fit: cover;
      }
}