@import '../../../../mainStyle.scss';

.mainBanner{
    position: relative;
    right: calc(($pageWidth - $sectionWidth) / 2);
    justify-content: space-around;
    // height: 300px;
    width: $pageWidth;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.051);

    @media screen and (max-width: 500px) {
      right: 0;
    }

    .loading{
      display: block;
      height: 100%;
      width: 100%;
      line-height: 300px;

      .el-loading-spinner{
        top: 0;
        margin-top: $loadingMarginTop;
      }
    }

    .swiper {
        // height: 100%;
        position: relative;
      
      .swiper-wrapper{

        .swiper-slide {
          display: flex;
          justify-content: center;
          text-align: center;
          /* Center slide text vertically */
          align-items: center;
          

          .background{
            width: $sectionWidth;
            height: 100%;
            display: flex;
            justify-content: center;
            /* Center slide text vertically */
            align-items: center;
            overflow: hidden;
            background-size: 200%;
            background-position: center center;

            // 遮罩
            &::after{
              content: '';
              width: $sectionWidth;
              height: 100%;
              position: absolute;
              overflow: hidden;
              -webkit-backdrop-filter: blur(70px);
              backdrop-filter: blur(70px);
            }
          }
  
          
  
          img{
            display: block;
            width: 80%;
            height: 100%;
            object-fit: contain;
            z-index: 1;

            @media screen and (max-width: 900px) {
              width: 100%;
            }
          }
        }
        
      }

      .swiper-button-prev, .swiper-button-next{
        color: $brandColor;
        margin: 0 5vw;
        top: 45%;

        @media screen and (max-width: 850px) {
          margin: 0 3vw;
          top: 35%;
          
          &::after{
            font-size: 2em;
          }
        }
        @media screen and (max-width: 460px) {
          margin: 0 3vw;
          top: 35%;
          
          &::after{
            font-size: 1em;
          }
        }

      }
      .swiper-pagination{
        @media screen and (max-width: 500px) {
          bottom: 0;
        }

        .swiper-pagination-bullet{
          background-color: white;
        }
      }

    }
}