@import '../../../mainStyle.scss';

.account{
    position: absolute;
    right: calc((100vw - $sectionWidth) / 4 - 4.5vw);
    width: 10vw;
    min-width: 100px;
    // height: 150px;
    z-index: 100;

    .avatar{
        position: relative;
        top: 1vh;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: auto;
        border-radius: 50%;
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        

        &:hover{
            text-decoration: underline;
        }

        @media screen and (max-height: 580px) {
            top: 0;
        }

        &.default_avatar{
            background: url(../../../assets/icons/avatar.svg);  
        }
    }

    .accountMenu{
        position: relative;
        top: 2vh;
        display: none;
        border-radius: 10px;
        background-color: $decorationColor;
        ul{
            list-style-type: none;
            padding: 3%;
            margin-block-start: 3%;
            margin-block-end: 3%;
            padding-inline-start: 15%;
            padding-inline-end: 15%;

            li{
                padding: 1vh 0.1vw;
                border-bottom: 1px solid $brandColor;
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width:590px) {
        min-width: 60px;
    }
        
    
}