@import '../../../mainStyle.scss';

.basic_info {
    padding: 60px;
    display: grid;
    grid-template-columns: 280px 1fr 1fr;
    // grid-template-rows: minmax(40px, 80px) repeat(7, 40px);
    grid-auto-rows: minmax(20px,auto);
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    grid-template-areas:
      'cover title title'
      'cover creator create_time'
      'cover label_or_album label_or_album'
      'cover buttons buttons'
      'cover description description';
  
    .text {
      line-height: 20px;
      white-space: nowrap;
    }
  
    .cover {
      grid-area: cover;
      max-width: 280px;
      max-height: 280px;
      object-fit: contain;
      background-color: antiquewhite;
    }
    .title {
      grid-area: title;
      display: flex;
      font-size: 2em;
      font-weight: 600;
    }
    .creator {
      grid-area: creator;
      display: flex;
      line-height: 30px;

      
      .creator_avatar{
        object-fit: contain;
        max-width: 30px;
        max-height: 30px;
        margin-right: 10px;
      } 
      .creator_label{
        font-weight: 700;
      }
      ul.creator_name{
        display: flex;
        li{
          &:nth-child(n+2)::before{
            content: ' / ';
            padding-left: 5px;
          }
          &:hover{
            cursor: pointer;
            color: $brandColor;
            &::before{
              color: black;
            }
          }
        }
       
      }
    }
    .create_time {
      grid-area: create_time;
      display: flex;
      line-height: 30px;
      color: gray;
    }
    .buttons {
      grid-area: buttons;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      justify-content: left;
      white-space: nowrap;
  
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 130px;
        height: 40px;
        padding: 0 8px;
        line-height: 40px;
        border-radius: 5px;

        &:hover{
          filter: blur()
        }

        &:focus{
          outline: none;
        }

        img{
          margin-right: 10px;
        }

        p{
          font-size: 0.8em;
        }
  
        &.press_to_play {
          background-color: $brandColor;

        }
        &.like_playlist, &.share_playist{
          margin-left: 30px;
          border: 1px solid gray;
        }

      }
    }
    .label_or_album {
      grid-area: label_or_album;
      display: flex;
      p{
        font-weight: 700;
      }
      ul {
        li {
          margin: 0 10px;
          padding: 0 5px;
          font-weight: 500;

          &:hover{
            cursor: pointer;
            color: $brandColor;
          }
        }
      }
      
    }
  
    .description {
      grid-area: description;
      position: relative;
      display: flex;
      white-space: pre-line;
      

      .description_title {
        display: block;
      }

      p {
        position: relative;
        top: 30px;
        max-width: 500px;
        line-height: 25px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .fold_description {
        position: relative;
        top: 30px;
        left: 50%;
        margin-bottom: 50px;
        color: rgb(51, 128, 183);
        cursor: pointer;
      }
    }
  }