@import '../../../mainStyle.scss';

.audioPlayer{
    display: grid;
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0px;
    background-color: $brandColor;
    margin-block-start: 0;
    padding-inline-start: 0;
    transition: height .5s ease-out;
    transform-origin: bottom;
    grid-template-columns: 4vw 4vw 3vw 6vw 50vw 11vw 12vw 10vw;
    grid-auto-rows: 35% 65%;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-areas:
      'previous play next cover_img song_title time features volume'
      'previous play next cover_img progress_control progress_control features volume';
    
    .audio{
        width: 50%;
        height: 50%;
        display: none;
    }
    .button{
        position: relative;
        cursor: pointer;
    }
    .previous {
        grid-area: previous;
        background: url('../../../assets/icons/skip_previous.svg') no-repeat right;
    }
    .play{
        grid-area: play;
    }
    .next{
        grid-area: next;
        background: url('../../../assets/icons/skip_next.svg') no-repeat left;
    }
    .playing{
        background: url('../../../assets/icons/pause.svg') no-repeat center;
    }
    .pause{
        background: url('../../../assets/icons/play.svg') no-repeat center;
    }
    .cover_img{
        grid-area: cover_img;
        width: 50px;
        height: 50px;
        margin:  auto;
        img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .song_title{
        grid-area: song_title;
        display: flex;

        .title{
            white-space: nowrap;
        }
        .creator{
            font-size: small;
            vertical-align: bottom;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 3.5px 0 0 7px;
        }

    }
    .time{
        grid-area: time;
    }
    .progress_control{
        grid-area: progress_control;
        position: relative;
        top: 0;
        width: 60vw;
        min-width: 300px;
        height: 100%;
        cursor: pointer;
        
        @media (max-width: 500px) {
            display: none; // 窗口宽度小于1000px隐藏组件
        }

        .progress{
            width: 100%;
            height: 15%;
            margin: 2vh 0;
            background-color: $subBrandColor;
            border-radius: $progressBorderRadius;
            
            .current{
                height: 100%;
                background-color: $audioCurrentState;
                border-radius: $progressBorderRadius;
    
            }
        }
    }
    .features{
        grid-area: features;
        .playinglist_icon{
            position: relative;
            width: 100%;
            height: 100%;
            background: url('../../../assets/icons/playinglist.svg') no-repeat left;
            cursor: pointer;
        }
        .playing_list{
            position: absolute;
            bottom: 8vh;
            right: 40px;
            @media screen and (max-height: 625px) {
                bottom: 50px;
              }
        }
    }
    
    .volume{
        grid-area: volume;
        position: relative;
        top: -$volumeHandlerHeight + $audioPlayerIconTop + $audioPlayerIconSize;
        width: $audioPlayerIconSize;
        height: 250%;


        .volumeControl{
            position: relative;
            height: 70%;
            top: 0px;
            cursor: pointer;

            .volumeProgress{
                position: absolute;
                width: $progressWidth;
                height: 0px;
                bottom: 0px;
                border-radius: 5px;
                margin-left:  12px;
                background-color: $subBrandColor;
                transition: all .3s;
            
                &.active{
                    height: 100px;
                    transform-origin: bottom;
                }

                .currentVolume{
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    background-color: $audioCurrentState;
                    border-radius: 5px;
                }
            }
            
        }
        .volumeIcon{
            position: absolute;
            top: 90px;
            width: $audioPlayerIconSize;
            height: 32%;
            cursor: pointer; 
        }

    }

    .not_muted{
        background: url('../../../assets/icons/volume.svg') no-repeat center;
    }
    .muted{
        background: url('../../../assets/icons/muted.svg') no-repeat center;
    }
}
.active {
    height: 100%;
}
.showing_playinglist{
    height: 100%;
}
