@import '../../../mainStyle.scss';

.audioPlayer{
    display: grid;
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0px;
    background-color: $brandColor;
    margin-block-start: 0;
    padding-inline-start: 0;
    transition: height .5s ease-out;
    transform-origin: bottom;
    grid-template-columns: 4vw 4vw 3vw 6vw 50vw 11vw 12vw 10vw;
    grid-auto-rows: 40% 60%;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-areas:
      'previous play next cover_img song_title time features volume'
      'previous play next cover_img progress_control progress_control features volume';
    
    .audio{
        width: 50%;
        height: 50%;
        display: none;
    }
    .button{
        position: relative;
        cursor: pointer;
    }
    .previous {
        grid-area: previous;
        background: url('../../../assets/icons/skip_previous.svg') no-repeat right;
    }
    .play{
        grid-area: play;
    }
    .next{
        grid-area: next;
        background: url('../../../assets/icons/skip_next.svg') no-repeat left;
    }
    .playing{
        background: url('../../../assets/icons/pause.svg') no-repeat center;
    }
    .pause{
        background: url('../../../assets/icons/play.svg') no-repeat center;
    }
    .cover_img{
        grid-area: cover_img;
        width: 50px;
        height: 50px;
        margin:  auto;
        img{
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            align-content: center;
        }
    }
    .song_title{
        grid-area: song_title;
        display: flex;

        .title{
            white-space: nowrap;
            align-content: end;
            overflow: hidden;

        }
        .creator{
            font-size: small;
            align-content: end;
            margin-left: 7px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    }
    .time{
        grid-area: time;
        height: 100%;
        align-content: end;
        overflow: hidden;


    }
    .progress_control{
        grid-area: progress_control;
        position: relative;
        top: 0;
        width: 96%;
        height: 100%;
        cursor: pointer;

        .progress{
            width: 100%;
            height: 15%;
            margin: 2vh 0;
            background-color: $subBrandColor;
            border-radius: $progressBorderRadius;
            
            .current{
                height: 100%;
                background-color: $audioCurrentState;
                border-radius: $progressBorderRadius;
    
            }
        }
    }
    .features{
        grid-area: features;
        display: flex;

        .play_mode_icon{
            width: 30px;
            height: 100%;
            margin-right: 20px;

            &.sequential{
                background: url('../../../assets/icons/sequential.svg') no-repeat left;
            }
            &.singleloop{
                background: url('../../../assets/icons/singleloop.svg') no-repeat left;
            }
            &.shuffle{
                background: url('../../../assets/icons/shuffle.svg') no-repeat left;
            }
        }

        .lyrics_icon{
            width: 30px;
            height: 100%;
            margin-right: 20px;
            background: url('../../../assets/icons/lyrics.svg') no-repeat left;
        }

        .lyrics_page{
            position: absolute;
            bottom: 8vh;
            right: 0;
            @media screen and (max-height: 625px) {
                bottom: 50px;
              }
        }

        .playinglist_icon{
            width: 30px;
            height: 100%;
            background: url('../../../assets/icons/playinglist.svg') no-repeat left;
        }
        .playing_list{
            position: absolute;
            bottom: 8vh;
            right: 40px;
            @media screen and (max-height: 625px) {
                bottom: 50px;
              }
        }
    }
    
    .volume{
        grid-area: volume;
        position: relative;
        top: -$volumeHandlerHeight + $audioPlayerIconTop + $audioPlayerIconSize;
        right: 1vw;
        width: $audioPlayerIconSize;
        height: 250%;


        .volumeControl{
            position: relative;
            height: 70%;
            top: 0px;
            cursor: pointer;

            .volumeProgress{
                position: absolute;
                width: $progressWidth;
                height: 0px;
                bottom: 0px;
                border-radius: 5px;
                margin-left:  12px;
                background-color: $subBrandColor;
                transition: all .3s;
            
                &.active{
                    height: 100px;
                    transform-origin: bottom;
                }

                .currentVolume{
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    background-color: $audioCurrentState;
                    border-radius: 5px;
                }
            }
            
        }
        .volumeIcon{
            position: absolute;
            top: 90px;
            width: $audioPlayerIconSize;
            height: 32%;
        }

    }

    .not_muted{
        background: url('../../../assets/icons/volume.svg') no-repeat center;
    }
    .muted{
        background: url('../../../assets/icons/muted.svg') no-repeat center;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: 4vw 4vw 3vw 6vw 45vw 11vw 14vw 13vw;
       
    }
    @media screen and (max-width: 960px) {
        grid-template-columns: 4vw 4vw 3vw 6vw 40vw 11vw 16vw 16vw;
        .progress_control{
            width: 98%;
        }
    }
    @media screen and (max-width: 870px) {
        grid-template-columns: 5vw 4vw 4vw 6vw 35vw 12vw 17vw 18vw;
        .features{
            .play_mode_icon, .lyrics_icon{
                margin-right: 15px;
            }
        }
        .button{
            transform: scale(0.9);
        }
    }
    @media screen and (max-width: 730px) {
        grid-template-columns: 5.5vw 4.5vw 4.5vw 8vw 27vw 12vw 18.5vw 20vw;
        .time{
            font-size: 0.9em;
        }
        .features{
            .play_mode_icon, .lyrics_icon{
                margin-right: 10px;
            }
        }
        .button{
            transform: scale(0.8);
        }
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 6vw 5vw 6vw 11vw 23vw 13vw 18vw 18vw;
        grid-column-gap: 5px;
        .time{
            font-size: 0.7em;
        }
        .song_title{
            .title, .creator{
                font-size: 0.7em;
                margin-top: 0;
            }
        }
        .button{
            transform: scale(0.8);
        }
        .features{
            .play_mode_icon, .lyrics_icon{
                margin-right: 0;
            }
            .button{
                transform: scale(0.7);
                background-size: contain !important;
            }
        }
       
    }
    @media screen and (max-width: 430px) {
        grid-template-columns: 6vw 5vw 6vw 11vw 23vw 13vw 20vw 16vw;
        grid-column-gap: 3px;
        .volume{
            right: 0;
        }
        .time{
            font-size: 0.5em;
        }
        .song_title{
            .title, .creator{
                font-size: 0.5em;
                margin-top: 0;
            }
        }
        .button{
            transform: scale(0.6);
        }
        .cover_img{
            width: 100%;
            height: auto;
        }
       
    }
}
.active {
    height: 100%;
}
.showing_feature{
    height: 100%;
}
