.nav{
    position: absolute;
    display: flex;
    float: left;
    left: 0;
    top: 3em;
    width: 96em;
    height: 3em;
    background-color: rgb(227, 242, 255);
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.navItem{
  min-width: 100px;
  height: 20px;
  margin-top: 10px;
  line-height: 1.2em;
  padding: 0.25em 0.5em;
  border-right: 1px solid rgb(141, 190, 223);
}
  