@import '../../../../mainStyle.scss';

.song_list_item{
    width: 90%;
    margin: 0 auto;
  
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      li{
        text-align: left;
        height: 30px;
        line-height: 30px;
        align-items: center;
  
        &.serial_num, &.click_to_play{
          width: 8.5%;
          text-align: center;

          @media screen and (max-width: 860px) {
            width: 15%;
          }
        }
  
        &.click_to_play{
          img{
            height: 20px;
            margin: 5px 0;

            &:hover{
              cursor: pointer;
              filter: contrast(0%);
            }
          }
        }
  
        &.name{
          width: 25%;
          padding-right: 5%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:hover{
            cursor: pointer;
            color: $brandColor;
          }

          @media screen and (max-width: 860px) {
            width: 45%;
            padding-right: 5%;
          }
          @media screen and (max-width: 430px) {
            width: 60%;
            padding-right: 10%;
          }
        }
        
        &.duration{
          width: 11%;

          @media screen and (max-width: 860px) {
            width: 20%;
          }
          @media screen and (max-width: 430px) {
            display: none;
          }
        }
  
        &.singer, &.album{
          width: 18%;
          padding-right: 3%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          

          @media screen and (max-width: 860px) {
            display: none;
          }
        }

        &.album:hover{
          cursor: pointer;
          color: $brandColor;
        }
  
  
      }
    }
  }