@import '../../../mainStyle.scss';

.search{
    position: absolute;
    right: calc((100vw - $sectionWidth) / 2);
    height: 100%;
    width: $searchIconSize;
    max-width: 300px;
    display: flex;
    align-items: center;
    transition: all 0.5s;

    .search_frame{
      width: 100%;
      overflow: hidden;

      .el-input__wrapper{
        &.is-focus{
          box-shadow: 0 0 0 1px $decorationColor inset;
        }
      }
    }
    
    &:hover{
      width: 30vw;
    }

    &::before{
      display: inline-block;
      content: url(../../../assets/icons/search.svg);
      vertical-align: middle;
      width: 50px;
      height: 35px;
      cursor: pointer;
      
  }

  &.focus{
    width: 30vw;
  }

  @media screen and (max-width: 750px) {
    right: 15vw;
  }

  @media screen and (max-width: 600px) {
    right: 20vw;
    z-index: 200;
    &:hover, &.focus{
      width: $searchIconSize;
    }

  }
    
}

.popper {
  li {
    line-height: normal;
    padding: 7px;

    .name {
      position: relative;
      display: inline-block; 
      top: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .category {
      position: relative;
      display: inline-block; 
      bottom: 7px;
    }
  }

  &.lower{
    z-index: $lowerSearchFrameZIndex !important;
    max-width: 700px;
  
    li { 

      .name {
        margin-left: 10px;
        max-width: 620px;
      }
    }
  }

  &.upper{
    z-index: $upperSearchFrameZIndex  !important;
    max-width: 300px;
  
    li {

      .name {
        max-width: 220px;
      }
    }
  }
  
} 


