@import '../../../mainStyle.scss';

.search{
    position: absolute;
    top: 15%;
    right: 15%;
    height: 80%;
    width: 20%;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;

    .search_frame{
      width: 50%;
      height: 50%;

      
    }

    
}
.search::before{
    display: inline-block;
    content: url(../../../assets/icons/search.svg);
    width: 50px;
    padding: 2px 0 0 0;   
    
}

.popper {

  li {
    line-height: normal;
    padding: 7px;

    .name {
      position: relative;
      display: inline-block; 
      top: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .category {
      position: relative;
      display: inline-block; 
      bottom: 7px;
    }
  }
} 

.lower{
  z-index: 10 !important;
  max-width: 700px;

  li {

    .name {
      margin-left: 10px;
      max-width: 620px;
    }
  }
}

.upper{
  max-width: 300px;

  li {

    .name {
      max-width: 220px;
    }
  }
}