@import '../../../mainStyle.scss';

.search{
    position: absolute;
    top: 23%;
    right: 15%;
    display: flex;
    justify-content: center;

    .devui-dropdown-item{
        text-align: left;
    }
}
.search::before{
    display: inline-block;
    content: url(../../../assets/icons/search.svg);
    width: 30px;
    padding: 0 5px 0 0;   
}
