.List{
    position: absolute;
    left: 0;
    top: 6em;
    width: 10em;
    height: 87.9vh;
    margin: 0;
    background-color: rgb(255, 251, 243);
    list-style-type: none;
    padding-inline-start: 0;
}
.listItem{
  padding: 0.25em 0.5em;
  font-size: 1em;
  overflow: hidden;
  // 溢出显示省略号
  text-overflow: ellipsis;

  &:nth-child(even) {
    background-color: rgb(255, 251, 243);
  }

  &:nth-child(odd) {
    background-color: rgb(255, 242, 227);
  }
}
  