@import '../../../mainStyle.scss';

.login_page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    background-color: rgba(114, 114, 114, 0.2);
    .login_frame{
        position: absolute;
        left: calc(50vw - 17.5vw);
        top: calc(50vh - 25vh);
        width: 35vw;
        height: 50vh;
        min-width: 370px;
        min-height: 280px;
        border-radius: 5px;
        background-color: white;
        .frame_title{
            display: flex;
            align-items: center;
            height: 5vh;
            min-height: 25px;
            color: white;
            font-size: large;
            background-color: $brandColor;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            .title_text{
                width: 4vw;
                min-width: 60px;
                height: 25px;
                line-height: 25px;
                white-space: nowrap;
            }
            .close_frame{
                position: absolute;
                right: 0;
                width: 30px;
                height: 5vh;
                min-height: 25px;
                background: url('../../../assets/icons/close.svg') no-repeat center;
                cursor: pointer;
            }
        }

        .register_entry{
            position: absolute;
            bottom: 6.2vh;
            right: 10px;
            font-size: 0.8em;
            color: $decorationColor;
            cursor: pointer;
        }
        .switch_login_way{
            position: absolute;
            bottom: 0;
            height: 6vh;
            min-height: 30px;
            width: calc(100% - 20px);
            padding: 0 10px;
            line-height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $brandColor;

            .pre_way, .next_way{
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .pre_way{
                &::before{
                    position: relative;
                    display: inline-block;
                    content: url('../../../assets/icons/arrow.svg');
                    width: 20px;
                    height: 20px;
                    transform: scale(1.5) rotate(90deg);

                }
            }

            .next_way{
                position: absolute;
                right: 10px;
                &::after{
                    position: relative;
                    display: inline-block;
                    content: url('../../../assets/icons/arrow.svg');
                    width: 20px;
                    height: 20px;
                    transform: scale(1.5) rotate(270deg);

                }
            }
        }
    }

}