@import '../../../../mainStyle.scss';
.sideBar_item {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    /*  声明列的宽度  */
    grid-template-columns: 50px auto;
    /*  声明行间距和列间距  */
    grid-gap: 7px;
    /*  声明行的高度  */
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
  
    .cover {
      width: 50px;
      height: 50px;
      grid-column: 1;
      grid-row: 1 / 3;
    }
  
    .name {
      grid-column: 2 / 3;
      grid-row: 1;
      max-width: 160px;
      width: 9.5vw;
      text-align: left;
      font-size: 1em;
      overflow: hidden;
      white-space: nowrap;
      // 溢出显示省略号
      text-overflow: ellipsis;

      @media screen and (max-width: 1170px) {
        width: 7.5vw;
      }
      
    }
  
    .description {
      grid-column: 2 / 3;
      grid-row: 2;
      font-size: 0.7em;
      color: gray;
    }

    .delete_icon{
      position: absolute;
      bottom: 5%;
      left: 80%;
      width: 20px;
      height: 20px;
      background: url('../../../../assets/icons/trash.svg') no-repeat center;
    }

    @media screen and (max-width: 800px) {
        display: flex;
        justify-content: center;
        .name{
            display: none;
        }
        .description{
            display: none;
        }
      }
  }