// 组件尺寸
$headerHeight: 8%;
$sectionWidth: 75vw;

$sideBarWidth: 20%;
$brandIconWidth: 80px;
$searchIconSize: 30px;

$playlistMarginLeftRight: 40px;

$loadingMarginTop: 15px;


// 组件层次  loading层次为2000，搜索联想默认层次为2000
$headerZIndex: 2500;  // 20
$footerZIndex: 3000;  // 30
$navbarZIndex: 2100;    // 10
$lowerSearchFrameZIndex: 2100;  // 10
$upperSearchFrameZIndex: 3500;  // 10
$accountZIndex: 3000;  // 100

// audioPlayer
$progressBorderRadius: 5px;
$progressWidth: 6px;
$audioPlayerIconTop: 15px;
$volumeHandlerHeight: 130px;
$audioPlayerIconSize: 30px;
    

// 组件颜色
$brandColor: #9aceff;    // header和footer
$darkerBrandColor: #65adf0ab;
$titleTextColor: #11528f;
$subBrandColor: #faffb5;  
$audioCurrentState: #ffec40;  // #fddbe1;

$sidebarTitleColor: #fffb83;


