// 组件尺寸
$headerHeight: 8%;
$sectionWidth: 75vw;

$sideBarWidth: 20%;
$brandIconWidth: 80px;
$searchIconSize: 30px;

$playlistMarginLeftRight: 40px;

$loadingMarginTop: 15px;

$scrollBarWidth: 17px;
$pageWidth: 100vw;


// 组件层次  loading层次为2000，搜索联想默认层次为2000
$headerZIndex: 2500;  // 20
$footerZIndex: 3000;  // 30
$navbarZIndex: 2100;    // 10
$lowerSearchFrameZIndex: 2100;  // 10
$upperSearchFrameZIndex: 3500;  // 10
$accountZIndex: 3000;  // 100
$messageZIndex: 5000;  
$playinglistTitleIndex: 1000;

// audioPlayer
$progressBorderRadius: 5px;
$progressWidth: 6px;
$audioPlayerIconTop: 15px;
$volumeHandlerHeight: 130px;
$audioPlayerIconSize: 30px;
    

// 组件颜色
$brandColor: #2C6975;    // header和footer
$darkerBrandColor: #68B2A0ab;
$subBrandColor: #E0ECDE;  
$decorationColor: #68B2A0;

$titleTextColor: #193a41;

$loadingColor: #2C6975;

$sidebarTitleColor: #CDE0C9; 
$sidebarTitleHoverColor: #b9d2b4;
$sidebarBackgroundColor: #f3f9f2;
$sidebarItemCheckColor: #68B2A0;


$songListBackgroundColor: #f3f9f2;


