// 组件尺寸
$headerHeight: 8%;
$sectionWidth: 75vw;

$sideBarWidth: 20%;
$brandIconWidth: 80px;
$searchIconSize: 30px;

$playlistMarginLeftRight: 40px;


// 组件层次
$headerZIndex: 20;
$footerZIndex: 30;
$navbarZIndex: 10;
$lowerSearchFrameZIndex: 10;
$accountZIndex: 100;

// audioPlayer
$progressBorderRadius: 5px;
$progressWidth: 6px;
$audioPlayerIconTop: 15px;
$volumeHandlerHeight: 130px;
$audioPlayerIconSize: 30px;
    

// 组件颜色
$brandColor: #9aceff;    // header和footer
$darkerBrandColor: #65adf0ab;
$titleTextColor: #11528f;
$subBrandColor: #faffb5;  
$audioCurrentState: #ffec40;  // #fddbe1;

$sidebarTitleColor: #fffb83;


